@charset"UTF-8";
.warp{width:96%; padding:1%;margin-left: 1%;background-color:#eee;height:100px;max-height:450px;border:1px solid #999; }
.teamIntr{width: 200px;padding: 20px;border: 1px solid #999;}












